<div class="new">
	<h1>Asean#index</h1>
	<p id="aa">Find me in app/views/asean/index.html.erb</p>
	<p><%= @a %></p>
	<% @admin.each do |x| %>
		<%= x.email %>
		<br>
	<% end %>
</div>



<div class="bb">
	<h1>Asean#index</h1>
	<p id="aa">Find me in app/views/asean/index.html.erb</p>
</div>

